
    <div class="container">
      <div>
        <h1>Team Gen</h1>
        <ul class="list">
          <li>John Cena</li>
          <li>The Miz</li>
          <li>Seth Rolins</li>
          <div class="add-members-container">
            <input type="text" placeholder="name">
            <button>Add</button>
          </div>
          <div class="input-container">
            <input type="text" placeholder="# of teams">
            <button>Generate</button>
          </div>
        </ul>
      </div>
    </div>
